<%# default partial to display solr document fields in catalog index view -%>

<div class="row">
  <div class="col-md-10">
    <dl class="document-metadata dl-horizontal dl-invert">
       
      <% index_fields(document).each do |solr_fname, field| -%>
        <% if should_render_index_field? document, field %>
          <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label document, :field => solr_fname %></dt> 
        
          <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field => solr_fname %></dd>

          <% end -%>
      <% end -%>
      <% if has_active_affiliation? document %>
        <dt>Affiliations</dt>
        <dd><%= render_person_affiliations_index document %></dd>
      <% end %>
    </dl>
  </div>
  <div class="col-md-2">
    <% if document['cris_id_ssf'] && has_researcher_image?(document) %>
      <%= image_tag create_researcher_image_url(document), :class => 'portrait' %>
    <% end %>
  </div>
</div>



