<%# default partial to display solr document fields in catalog show view -%>
<div class="row">
  <div class="col-md-10">
    <dl class="dl-horizontal  dl-invert">
      <% document_show_fields(document).each do |solr_fname, field| -%>
        <% if should_render_show_field? document, field %>
	        <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
	        <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
        <% end -%>
      <% end -%>
      <% if has_current_affiliation? document %>
        <dt>Current affiliations:</dt>
        <dd>
          <% get_current_affiliations(document).each do |affiliation| %>
            <%= render_affiliation_show affiliation %>
          <% end %>
        </dd>
      <% end %>
      <% if has_previous_affiliation? document %>
        <dt>Previous affiliations:</dt>
        <dd>
          <% get_previous_affiliations(document).each do |affiliation| %>
            <%= render_affiliation_show affiliation %>
          <% end %>
        </dd>
      <% end %>
    </dl>
  </div>
  <div class="col-md-2">
    <% if has_researcher_image? document %>
      <%= image_tag create_researcher_image_url(document), :class => 'portrait' %>
    <% end %>
  </div>
</div>
 

 
